.gambar-kiri {
	position: fixed;width: 400px;height: 100vh;background-color: seagreen ; display: flex;justify-content: center; align-items: center;

}

body
	{margin: 0}

.foto-contact {
	position: absolute;top: 100px; width: 150px; height: 200px
}

.photo { width: 100%; border-radius: 40%;

}
.contact-btn {
		width: 100%; background-color: white;border-radius: 20px; margin-bottom: 12px; font-size: 1.1rem; font-weight: bold;padding: 10px;
}	

.font1 {
	text-align: center; font-size: 25px;
}

.font2 {
	font-style: italic;
}

.contact-btn:hover { background-color: black; color: white; transition: 1s;

}

.gambar-kanan {
	position: absolute;left: 400px;
}

.top-bar {
	padding-top: 50px;
	padding-left: 100px;
}

.title {
	font-style: Italic;
	font-size: 1.3rem;
}

.list-menu {
	float: right; 
	padding-right: 100px;
}

.menu {
	font-size: 1.1rem;
	padding: 15px;
}

a {
	text-decoration: none;color: black;
}

#profile {
	padding-top: 100px;
	padding-left: 100px;
}

#about {
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 100px;
}


#experience {
	padding-top: 250px;
	padding-left: 100px;
}

#achievements {
	padding-top: 250px;
	padding-left: 100px;
}

#contact {
	padding-top: 250px;
	padding-left: 100px;
}

#footer {
	padding-top: 250px;
	text-align: center;
}

li,p {
	line-height: 200%;
}